@import "./base.scss";
.skills{
    position: relative;
    font-size: 20px;
    height: 150px;
    background: #E9EB9E;
    overflow: hidden;
    text-align: center;
    padding-top: 1rem;
    &__header{
        font-weight: 600;
    }
    &__text{
        position: absolute;
        white-space: nowrap;
        font-family: "Poppins", sans-serif;
        &__left{
            left:0;
            top: 3rem;
            animation: moveleft 30s linear infinite;
            @keyframes moveleft {
                0%{
                    transform: translate3d(0, 0, 0);
                }
                100%{
                    transform: translate3d(-50%, 0, 0);
                }
            }
        }
        &__right{
            right: 0;
            top: 6rem;
            animation: moveright 30s linear infinite;
            @keyframes moveright {
                0%{
                    transform: translate3d(0, 0, 0);
                }
                100%{
                    transform: translate3d(50%, 0, 0);
                }
            }
        }
    }
    @media (max-width:700px){
       & {
         height: 125px;
       }
       &__text{
        font-size: 15px;
        &__left{
            top: 3rem;
        }
        &__right{
            top: 4.5rem;
        }
         }
    }
}